<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>
    <body>
        <div class="container-fluid">
            <div th:replace="navigation :: header-menu"></div>

            <div th:if="${title != null}" class="text-center m-3">
                <h2>[[${title}]]</h2>
            </div>            

            <div th:if="${message != null}" class="text-center m-3">
                <h3>[[${message}]]</h3>
            </div>
            
            <div th:replace="navigation :: footer-menu"></div>
        </div>
    </body>
</html>