<!DOCTYPE html>
<!-- Use thymeleaf to direct to the URL properly whilst taking the context into consideration-->
<html xmlns:th="http://www.thymeleaf.org">

    <body>
        

        <div th:fragment="header-menu">

            <!-- If the Member is authenticated direct the call for logout here -->
            <th:block sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                    <input type="submit" value="Logout" />
                </form>
            </th:block>

            <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand">Bloop</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <ul class="navbar-nav">				
                                <!-- Start of Dynamic Header Menu Items -->
                                <th:block th:each="headerMenu : ${headerMenuItems}">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{'/m/' + ${headerMenu.alias}}">
                                            [[${headerMenu.title}]]
                                        </a>
                                    </li>						
                                </th:block>
                                <!-- End of Dynamic Header Menu Items -->
        
                                <th:block sec:authorize="isAnonymous()">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" th:href="@{/login}">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" th:href="@{/register}">Register</a>
                                    </li>
                                </th:block>
                                
        
                                <th:block sec:authorize="isAuthenticated()">                               
                                
                                    <li>
                                        <span class="fas fa-user fa-2x icon-silver"></span>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <!-- principle indicates the StoreUserDetails class -->
                                        <a class="nav-link dropdown-toggle" th:href="@{/account-details}" data-toggle="dropdown" sec:authentication="principal.fullname"></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" id="accountLink" th:href="@{/account-details}">Edit Profile</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/messages}">Texts</a>
                                    </li>
            
                                    <li class="nav-item">
                                        <!-- Use javascript to call the submit method of the logoutForm -->
                                        <a class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
                                    </li>
                                </th:block>	
                        </ul>
                    </div>
                </div>
            </nav>

        </div>


        <div th:fragment="footer-menu">
            <div>
                <nav class="navbar navbar-expand-lg bg-light navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bottomNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="bottomNavbar">
                        <ul class="navbar-nav">				
                            <th:block th:each="footerMenu : ${footerMenuItems}">
                                <li class="nav-item text-dark">
                                    <a class="nav-link" th:href="@{'/m/' + ${footerMenu.alias}}">
                                        [[${footerMenu.title}]]
                                    </a>
                                </li>						
                            </th:block>
                        </ul>
                    </div>		
                </nav>
            </div>
            <div th:fragment="footer" class="text-center text-dark m-3">
                <p>[[${COPYRIGHT}]]</p>
            </div>	
        </div>        

    </body>

</html>