<!DOCTYPE html>
<!-- Use thymeleaf to direct to the URL properly whilst taking the context into consideration-->
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>

    <body>
        <!-- CSS class for a responsive web page provided by the bootstrap framework -->
        <div class="container-fluid m-5">

            <div th:replace="navigation :: header-menu"></div>

			<div class="container h-100">

    			<div class="row align-items-center justify-content-center h-100">
    
    			   <div class="col-sm-6 h-100 align-middle">
    
            			<div class="card">
            				<div class="card-header text-center">
                                <h2>Member Registration</h2>
            				</div> 
            
            				<div class="card-body">
            					<form th:action="@{/create-member}" method="post" th:object="${member}" onsubmit="return checkEmailUniqueness(this)">
            
            						<div class="form-group">
                                        <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" required="required" minlength="2" maxlength="45"/>
            						</div>
            						<div class="form-group">
                                        <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" required="required" minlength="2" maxlength="45"/>
            						</div>                                  
            						<div class="form-group">
                                        <input type="email" th:field="*{email}" class="form-control" placeholder="Email" required="required" minlength="8" maxlength="45"/>
            						</div>
            						<div class="form-group">
                                        <input type="password" th:field="*{password}" class="form-control" placeholder="Password" required="required" minlength="6" maxlength="15" oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"/>
            						</div>	                                    
            						<div class="form-group">
                                        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required="required" minlength="6" maxlength="15" oninput="checkPasswordMatch(this)"/>
            						</div>	
            						<div class="form-group">
                                        <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="Phone Number" required="required" minlength="8" maxlength="15"/>
            						</div>                                    
            						<div class="text-center">
            							<input type="submit" value="Create Account" class="btn btn-success btn-md"/>
            						</div>
            					
            					</form>

                                <div th:replace="modal-fragments :: modal-dialog"></div>
            
            				</div>
            
            				<div class="card-footer text-center">
            				</div>
            			</div>
    
    			    </div>
    
    			</div>

		   </div>

        </div>

        <script type="text/javascript">

            /**
             * Make an AJAX call to the server
             *     Define the contextPath of the home page of the eCommerce Shop application
             */
            contextPath = "[[@{/}]]";

            function checkEmailUniqueness(form) {
                /**
                 * Specify the url of the web service 
                 */
                url = contextPath + "members/check-email";
                memberEmail = $("#email").val();

                params  = {email: memberEmail};

                $.post(url, params, function(response) {
                    if(response == "Ok") {
                        form.submit();
                    } else if (response == "Duplicate") {
                        showWarningDialog("There is another member having the email " + memberEmail);
                    } else {
                        showErrorDialog("Unknown response from server");
                    }
                }).fail(function() {
                    showErrorDialog("Could not connect to the server");
                });
                return false;
            }

        </script>
        <script type="text/javascript" th:src="@{/js/member/common-form.js}"></script>       

    </body>

</html>