<!DOCTYPE html>
<!-- Use thymeleaf to direct to the URL properly whilst taking the context into consideration-->
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments :: page_head('Forgot Password', 'none')"></head>

    <body>
        <!-- CSS class for a responsive web page provided by the bootstrap framework -->
        <div class="container-fluid text-center">

            <div th:replace="navigation :: header-menu"></div>

            <div>
                <h2>Forgot Password</h2>
            </div>

            <form th:action="@{/forgot-password}" method="post" style="max-width: 700px; margin: 0 auto;">

                <div th:if="${error != null}">
                    <p class="text-danger">[[${error}]]</p>
                </div>

                <div th:if="${message != null}">
                    <p class="text-warning">[[${message}]]</p>
                </div>                

                <div class="border border-secondary rounded m-3">

                    <div class="m-2">
                        <h5>Enter your email to reset your password</h5>
                        <p><small>We will send a reset password link to your email</small></p>
                    </div>

                    <div class="m-2">
                        <input type="email" name="email" class="form-control" placeholder="Enter your email" required="required" autofocus="autofocus"/>
                    </div>                    

                    <div class="m-2">
                        <input type="submit" value="Reset Password" class="btn btn-primary"/>
                    </div>

                </div>

            </form>            

            <div th:replace="navigation :: footer-menu"></div>                 
            
        </div>

    </body>

</html>