<!DOCTYPE html>
<!-- Use thymeleaf to direct to the URL properly whilst taking the context into consideration-->
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments :: page_head('Reset Password', 'none')"></head>

    <body>
        <!-- CSS class for a responsive web page provided by the bootstrap framework -->
        <div class="container-fluid text-center">

            <div th:replace="navigation :: header-menu"></div>

            <div>
                <h2>Reset Password</h2>
            </div>

            <form th:action="@{/reset-password}" method="post" style="max-width: 700px; margin: 0 auto;">

                <input type="hidden" th:value="${token}" name="token">

                <div class="border border-secondary rounded m-3">

                    <div class="m-2">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter your new password" minlength="8" maxlength="15" required="required" autofocus="autofocus" oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"/>
                    </div>                    

                    <div class="m-2">
                        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm your new password" minlength="8" maxlength="15" required="required" autofocus="autofocus" oninput="checkPasswordMatch(this)"/>
                    </div>                     

                    <div class="m-2">
                        <input type="submit" value="Change Password" class="btn btn-primary"/>
                    </div>

                </div>

            </form>            

            <div th:replace="navigation :: footer-menu"></div>                 
            
        </div>

        <script type="text/javascript">
            /**
             * Validate the two password fields 
             */
            function checkPasswordMatch(confirmPassword) {
                if (confirmPassword.value != $("#password").val()) {
                    confirmPassword.setCustomValidity("Passwords do not match");
                } else {
                    confirmPassword.setCustomValidity("");
                }
            }            
        </script>

    </body>

</html>